<div class="page-content-wrapper ">

  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box">
          <div class="row align-items-center">
            <div class="col-md-8">
              <h4 class="page-title m-0">داشبورد</h4>
            </div>

            <!-- end col -->
          </div>
          <!-- end row -->
        </div>
        <!-- end page-title-box -->
      </div>
    </div>
    <!-- end page title -->
    <!-- 
    <div class="row">
      <div class="col-xl-3 col-md-6">
        <div class="card bg-primary mini-stat text-white">
          <div class="p-3 mini-stat-desc">
            <div class="clearfix">
              <h6 class="text-uppercase mt-0 float-left text-white-50">تعداد پست ها</h6>
              <h4 class="mb-3 mt-0 float-right"></h4>
            </div>
            <div>
              <span class="badge badge-light text-info"> +11% </span> <span class="ml-2">از دوره قبلی</span>
            </div>

          </div>
          <div class="p-3">
            <div class="float-right">
              <a href="#" class="text-white-50"><i class="mdi mdi-cube-outline h5"></i></a>
            </div> -->
    <!-- <p class="font-14 m-0">آخر : 1447</p> -->
    <!-- </div>
        </div>
      </div> -->
    <!-- 
      <div class="col-xl-3 col-md-6">
        <div class="card bg-info mini-stat text-white">
          <div class="p-3 mini-stat-desc">
            <div class="clearfix">
              <h6 class="text-uppercase mt-0 float-left text-white-50">تعداد رویداد ها</h6>
              <h4 class="mb-3 mt-0 float-right"></h4>
            </div>
            <div>
              <span class="badge badge-light text-danger"> -29% </span> <span class="ml-2">از دوره قبلی</span>
            </div>
          </div>
          <div class="p-3">
            <div class="float-right">
              <a href="#" class="text-white-50"><i class="mdi mdi-buffer h5"></i></a>
            </div> -->
    <!-- <p class="font-14 m-0">آخر : 46,785 تومان</p> -->
    <!-- </div>
        </div>
      </div> -->
    <!-- <div class="col-xl-3 col-md-6">
        <div class="card bg-pink mini-stat text-white">
          <div class="p-3 mini-stat-desc">
            <div class="clearfix">
              <h6 class="text-uppercase mt-0 float-left text-white-50">تعداد زبان اموزان</h6>
              <h4 class="mb-3 mt-0 float-right"> </h4>
            </div>
            <div>
              <span class="badge badge-light text-primary"> 0% </span> <span class="ml-2">از دوره قبلی</span>
            </div>
          </div>
          <div class="p-3">
            <div class="float-right">
              <a href="#" class="text-white-50"><i class="mdi mdi-tag-text-outline h5"></i></a>
            </div> -->
    <!-- <p class="font-14 m-0">آخر : 15.8</p> -->
    <!-- </div>
        </div>
      </div> -->

    <!-- <div class="col-xl-3 col-md-6">
        <div class="card bg-success mini-stat text-white">
          <div class="p-3 mini-stat-desc">
            <div class="clearfix">
              <h6 class="text-uppercase mt-0 float-left text-white-50">تعداد معلمان</h6>
              <h4 class="mb-3 mt-0 float-right"></h4>
            </div>
            <div>
              <span class="badge badge-light text-info"> +89% </span> <span class="ml-2">از دوره قبلی</span>
            </div>
          </div>
          <div class="p-3">
            <div class="float-right">
              <a href="#" class="text-white-50"><i class="mdi mdi-briefcase-check h5"></i></a>
            </div> -->
    <!-- <p class="font-14 m-0">آخر : 1776</p> -->
    <!-- </div>
        </div>
      </div>
    </div> -->
    <!-- end row -->

    <!-- <div class="row">
      <div class="col-xl-4">
        <div class="card">
          <div class="card-body">
            <h4 class="mt-0 header-title mb-4">آخرین پیام ها</h4>
            <div class="latest-massage" style="overflow-y: scroll; height: 370.078px !important;">
              <a href="#" class="latest-message-list">
                <div class="border-bottom position-relative p-2">
                  <div class="float-left user mr-3">
                    <h5 class="bg-primary text-center rounded-circle text-white mt-0">v</h5>
                  </div>

                  <div class="message-time">
                    <p class="ml-3 text-muted"></p>
                  </div>
                  <div class="massage-desc">
                    <h5 class="font-14 mt-0 text-dark"></h5>
                    <p class="text-muted"></p>
                  </div>
                </div>
              </a>

            </div>

          </div>
        </div>

      </div> -->
    <!-- end col -->

    <!-- end row -->

    <div class="row">
      <div class="col-xl-9">
        <div class="card">
          <div class="card-body">
            <h4 class="mt-0 header-title mb-4">دوره ها  </h4>
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">کلاس</th>
                    <th scope="col">سطح</th>
                    <th scope="col">قیمت</th>
                    <th scope="col">زمان هر جلسه</th>
                    <th scope="col">تعداد ثبت نام شدگان</th>
                    <th scope="col">عملیات</th>

                  </tr>
                </thead>
                <tbody>
                  <% if(courses.length>0){ %>
                  <% for(let course of courses) {%>
                  <tr>

                    <td><%= course.title %></td>
                    <td><%= course.level %></td>
                    <td><%= course.price %></td>
                    <td><%= course.sessionTime %></td>
                    <td><%= course.student.length %></td>
                    <td><a class="btn btn-primary" href="/dashboard/edit-course?courseId=<%=course.id%>">مشاهده و ویرایش</a></td>
                  </tr>
                  <% } %>
                  <% } %>
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>
      <div class="col-xl-3">
        <div class="card">
          <div class="card-body">
            <h4 class="mt-0 header-title mb-4">  اساتید اضافه شده</h4>
            <table class="table table-striped mb-0">
              <tbody>
                <tr>
                  <td></td>
                  <% if(teachers.length>0){ %>
                  <% for(let t of teachers){ %>
                  <td>
                    <p class="text-muted mb-0"><%= t.fullname %> </p>
                  </td>
                  <% } %>
                  <% } %>
                  <!-- <td>
                    <a href="#" class="btn btn-primary btn-sm">
                      <i class="fas fa-external-link-square-alt"></i>
                    </a>
                  </td> -->
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
    <!-- end row -->

  </div><!-- container fluid -->

</div> <!-- Page content Wrapper -->