<div class="page-content-wrapper ">

  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box">
          <div class="row align-items-center">
            <div class="col-md-8">
              <h4 class="page-title m-0">زبان آموزان کلاس <%= course.title %> </h4>
            </div>

            <!-- end col -->
          </div>
          <!-- end row -->
        </div>
        <!-- end page-title-box -->
      </div>
    </div>
    <!-- end page title -->

    <div class="col-lg-6">
      <div class="card m-b-30">
        <div class="card-body">

          <h4 class="mt-0 header-title">لیست زبان آموزان کلاس</h4>

          <div class="table-responsive">
            <table class="table table-dark mb-0">
              <thead>
                <tr>
                  <th>#</th>
                  <th>نام </th>
                  <th>نام خانوادگی</th>

                </tr>
              </thead>
              <tbody>
                <% let i=1 %>
                <% for(let student of course.student){ %>
                <tr>
                  <th scope="row"><%= i++ %></th>
                  <td><%= student.firstname %></td>
                  <td><%= student.lastname %></td>
                </tr>

                <% } %>
              </tbody>
            </table>
          </div>
          <% if(course.file.length>0){ %>
          <ul class="list-group">
            <% for(let file of course.file){ %>
            <a href="/file?fileName=<%= file %>">
              <li class="list-group-item"><%= file %></li>
            </a>
            <% } %>
          </ul>
          <% } %>
        </div>
      </div>
    </div>


  </div><!-- container fluid -->

</div> <!-- Page content Wrapper -->