<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from rtl-temp.ir/Theme/Zinzer/vertical-rtl/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 11 Jun 2019 05:42:14 GMT -->

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <title><%= titleText%></title>
  <meta content="Admin Dashboard" name="description" />
  <meta content="ThemeDesign" name="author" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <link rel="shortcut icon" href="/dash/assets/images/favicon.ico">

  <!-- Persian datepicker css -->
  <link href="/dash/assets/css/persianDatepicker-default.css" rel="stylesheet">

  <!-- CkEditor -->
  <script src="https://cdn.ckeditor.com/4.18.0/standard/ckeditor.js"></script>

  <!-- Plugins css -->
  <link href="/dash/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">
  <link href="/dash/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
  <link href="/dash/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />

  <!-- X-editable css -->
  <link type="text/css" href="/dash/plugins/x-editable/css/bootstrap-editable.css" rel="stylesheet">
  <!-- Table css -->
  <link href="/dash/plugins/RWD-Table-Patterns/dist/css/rwd-table.min.css" rel="stylesheet" type="text/css" media="screen">

  <!-- Dropzone css -->
  <link href="/dash/plugins/dropzone/dist/dropzone.css" rel="stylesheet" type="text/css">

  <!-- morris css -->
  <link rel="stylesheet" href="/dash/plugins/morris/morris.css">

  <link href="/dash/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/dash/assets/css/icons.css" rel="stylesheet" type="text/css">
  <link href="/dash/assets/css/style.css" rel="stylesheet" type="text/css">

</head>


<body class="fixed-left">
  <!-- Loader -->
  <div id="preloader">
    <div id="status">
      <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
    </div>
  </div>

  <!-- Begin page -->
  <div id="wrapper">

    <%- include("../includes/admindashsidebar.ejs") %>

    <!-- Start right Content here -->

    <div class="content-page">
      <!-- Start content -->
      <div class="content">

        <%- include("../includes/admintopbar.ejs") %>

        <%- body %>


      </div> <!-- content -->


    </div>
    <!-- End Right content here -->

  </div>
  <!-- END wrapper -->
  <%- include('../includes/admindashfooter.ejs') %>


  <!-- jQuery  -->
  <script src="/dash/assets/js/jquery.min.js"></script>
  <script src="/dash/assets/js/bootstrap.bundle.min.js"></script>
  <script src="/dash/assets/js/modernizr.min.js"></script>
  <script src="/dash/assets/js/detect.js"></script>
  <script src="/dash/assets/js/fastclick.js"></script>
  <script src="/dash/assets/js/jquery.slimscroll.js"></script>
  <script src="/dash/assets/js/jquery.blockUI.js"></script>
  <script src="/dash/assets/js/waves.js"></script>
  <script src="/dash/assets/js/jquery.nicescroll.js"></script>
  <script src="/dash/assets/js/jquery.scrollTo.min.js"></script>

  <!--Morris Chart-->
  <script src="/dash/plugins/morris/morris.min.js"></script>
  <script src="/dash/plugins/raphael/raphael.min.js"></script>


  <!-- dashboard js -->
  <script src="/dash/assets/pages/dashboard.int.js"></script>

  <!-- App js -->
  <script src="/dash/assets/js/app.js"></script>

  <!-- Plugins js -->
  <script src="/dash/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
  <script src="/dash/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
  <script src="/dash/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
  <script src="/dash/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js"></script>

  <!-- XEditable Plugin -->
  <script src="/dash/plugins/moment/moment.js"></script>
  <script src="/dash/plugins/x-editable/js/bootstrap-editable.min.js"></script>
  <script src="/dash/assets/pages/xeditable.js"></script>
  <!-- Dropzone js -->
  <script src="/dash/plugins/dropzone/dist/dropzone.js"></script>
  <!-- Plugins Init js -->
  <script src="/dash/assets/pages/form-advanced.js"></script>
  <!-- Persian datepicker js -->
  <script src="/dash/assets/js/persianDatepicker.js"></script>
  <!-- Responsive-table-->
  <script src="/dash/plugins/RWD-Table-Patterns/dist/js/rwd-table.min.js"></script>

</body>


<!-- Mirrored from rtl-temp.ir/Theme/Zinzer/vertical-rtl/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 11 Jun 2019 05:42:42 GMT -->

</html>